html {
  height: 100%;
}

body {
  background-color: #b2d6b6;
  text-align: center;
  font-family: 'Walter Turncoat', cursive;
  max-height: 95%;
  display: grid;
  grid-template-rows: 1fr 1fr auto;
  grid-template-columns: auto;
}

.background {
  height: 800px;
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
  background: url('../images/mandala0.png') no-repeat center center;
  opacity: 0.5;
  z-index: -1;
}

header {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  padding: 1em 0;
}

.home {
  display: block;
}

.about {
  display: none;
}

.contact {
  display: none;
}

.projects {
  display: none;
}

h1 {
  font-size: 4em;
  color: #15771d;
  letter-spacing: 0.25em;
  text-shadow: -1px 2px 2px #000;
}

.picture {
  padding: 1em 0;
}

.me {
  height: 180px;
  width: 180px;
  border: 4px solid #39a2ae;
  border-radius: 100%;
}

main {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  width: 75%;
  margin: 0 auto;
}

ul {
  list-style: none;
  text-align: center;
}

li {
  list-style: none;
}

ul.detail li {
  margin: 0 0 1em -1em;
  color: #000;
  font-family: 'Muli', sans-serif;
  font-weight: bolder;
  text-shadow: -1px 2px 2px #2b2b2b;
}

div.transbox {
  margin: 0 5%;
  background-color: #fff;
  border: 1px solid #000;
  opacity: 0.75;
}

p {
  text-align: left;
  margin: 5%;
  font-weight: bold;
  color: #000;
  font-family: 'Muli', sans-serif;
  font-size: 1em;
}

.links {
  margin: 2em 0;
}

.contacts {
  margin: 0 2em;
}

.contacts:hover {
  text-shadow: -1px 2px 2px #2b2b2b;
}

.fa-github,
.fa-at {
  color: #000;
}

footer {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
  display: block;
}

ul.nav li {
  display: inline-block;
  margin: 0 2em;
  color: #270722;
}

a {
  color: #000;
  text-decoration: none;
}

a:visited {
  color: #051c1b;
}

a:hover {
  text-shadow: -1px 2px 2px #2b2b2b;
}
