html {
  height: 100%;
}

body {
  text-align: center;
  background-image: url('../images/mandala9.jpg');
  font-family: 'Walter Turncoat', cursive;
  max-height: 95%;
  display: grid;
  grid-template-rows: 1fr 1fr auto;
}

header {
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 1em 0;
}

.home {
  display: block;
}

.about {
  display: none;
}

.contact {
  display: none;
}

.projects {
  display: none;
}

h1 {
  font-size: 4em;
  color: #15771d;
  letter-spacing: 0.25em;
}

.picture {
  padding: 1em 0;
}

.me {
  height: 180px;
  width: 180px;
  border: 4px solid #39a2ae;
  border-radius: 100%;
}

main {
  grid-row-start: 2;
  grid-row-end: 3;
  width: 75%;
  margin: 0 auto;
}

ul {
  list-style: none;
  text-align: center;
}

li {
  list-style: none;
}

ul.detail li {
  margin: 0 0 1em -1em;
  color: #15771d;
  font-family: 'Muli', sans-serif;
}

p {
  text-align: left;
  font-family: 'Muli', sans-serif;
  font-size: 1em;
}

.links {
  margin: 2em 0;
}

.contacts {
  margin: 0 2em;
}

.fa-github,
.fa-at {
  color: #15771d;
}

footer {
  grid-row-start: 3;
  grid-row-end: 4;
}

ul.nav li {
  display: inline-block;
  margin: 0 2em;
  color: #270722;
}

a {
  color: #051c1b;
  text-decoration: none;
}

a:visited {
  color: #051c1b;
}

a:hover,
.fa-github:hover,
.fa-at:hover {
  color: #15771d;
}
